.container {
  height: 100%;
  width: 600px;
  border: 2px solid #11c0db;
}
.container .content {
  height: 100%;
  width: 100%;
}
.container .content .header {
  margin: 0;
  background-color: #11c0db;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
}
.container .content .paragraph {
  background-color: #ffffff;
}
