.section {
  // margin: 5px;
  height: 250px;
  width: 600px;
  border: 2px solid #11c0db;
  h2{
    margin: 0;
    background-color: #11c0db;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
  }
  p {
    background-color: #ffffff;
  }  
}