<div class="content">
   <h2 class="header">{{title}}</h2>
   <div class="paragraph">
    <div class="pic">
      <img src="{{img_src}}" alt="{{title}}">
      <p>{{paragraph}}</p>
    </div>  
   </div>

</div>